<ul class="sidenav" id="mobile-nav">
  <li><a href="/intake/aop-abuser">Abuser</a></li>
 <li><a href="/intake/aop-report">Report</a></li>
 <li><a href="/intake/aop-workplace">Workplace</a></li>
<li><a href="https://aopwi.zohodesk.com/portal/en/newticket">Get support</a></li>
</ul>
<nav>
    <div class="nav-wrapper amber lighten-5">
      <a href="#" class="brand-logo center black-text">&nbsp;Abuse Of Power: Intake</a>
<a href="#" data-target="mobile-nav" class="sidenav-trigger black-text">Menu</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li  class="black-text">Report:</li>
        <li><a href="/intake/aop-abuser" class="black-text">Abuser</a></li>
        <li><a href="/intake/aop-report"  class="black-text">Report</a></li>
        <li><a href="/intake/aop-workplace"  class="black-text">Workplace</a></li>
        <li><a href="https://aopwi.zohodesk.com/portal/en/newticket"  class="black-text">Get support</a></li>
      </ul>
    </div>
  </nav>
