{% load static %}
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
<title>AOP Intake</title>
<link rel="icon" type="image/png" href="/static/imgs/logo.png" />
<script>
.brand-logo {
font-size: 15px !important;
}
</script>
